# Status Account setup
PASSWORD = "your-password-here"
NAME = "status-display-name"
MNEMONIC = "phrase_1 phrase_2 phrase_3 phrase_4 phrase_5 phrase_6 phrase_7 phrase_8 phrase_9 phrase_10 phrase_11 phrase_12"
ALCHEMY_TOKEN = "your-alchemy-token"
COINGECKO_API_KEY = "your-coingecko-api-key"
INFURA_TOKEN = "your-infura-token"

# LLM setup
GROQ_API_KEY = "your-groq-api-key"
GROQ_MODEL = "groq-model-name"

# Monitor messages from provided public key
FROM_PUBLIC_KEY = "account-public-key"
