# Status Account setup
PASSWORD = "your-password-here"
NAME = "status-display-name"
MNEMONIC = "phrase_1 phrase_2 phrase_3 phrase_4 phrase_5 phrase_6 phrase_7 phrase_8 phrase_9 phrase_10 phrase_11 phrase_12"

# Monitor messages from public chat
GROUP_CHAT_ID = "group-chat-id"
